* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: 'Raleway', sans-serif;
  color: #444;
  line-height: 1.5;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  color: #fa4615;
}

header .header-content {
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

header h1 {
  font-size: 24px;
  font-weight: 500;
}

.links {
  position: absolute;
  top: 3px;
  right: 30px;
  font-size: 0;
}

.links a {
  display: inline-block;
  color: #5d657a;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.links a + a {
  margin-left: 20px;
}

.links a img {
  display: block;
  width: 28px;
  height: 28px;
}

footer {
  background-color: #f1f1f1;
}

footer .footer-content {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}

footer a {
  color: #999;
  font-weight: 300;
  text-decoration: none;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 30px 120px;
}

h2 {
  margin-bottom: 30px;
  padding: 100px 0 20px;
  border-bottom: 1px solid #eee;
  color: #555;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  margin-bottom: 20px;
  color: #888;
  font-size: 28px;
  font-weight: 400;
}

p {
  margin-bottom: 20px;
  color: #666;
  font-weight: 300;
  font-size: 18px;
}

.example-button {
  display: inline-block;
  width: 200px;
  padding: 12px 10px;
  outline: 0;
  border: 0;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(204, 120, 50, 0.2);
  background-color: #fa4615;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.example-button + .example-button {
  margin-left: 15px;
}

.playground {
  margin-bottom: 20px;
}

.example-area + .example-area {
  margin-top: 50px;
}

body .my-toast {
  background-color: rgba(50, 130, 184, 0.8);
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
}

hr {
  margin: 15px 0;
  border-top: 1px dashed #fafafa;
}
